@page "/Account/ForgotPasswordConfirmation"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Forgot password confirmation</h1>
<p>
    Please check your email to reset your password.
</p>
